html { 
  background: url(../images/bookshelf-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.outer-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle-container {
  display: table-cell;
  vertical-align: middle;
}

.inner-container {
  margin-left: auto;
  margin-right: auto; 
}

.main-header {
  color: black;
}

.button-container button {
	margin-left: 5px;
	margin-right: 5px;
}

.search-container .fa-times {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 16px;
  color: grey;
}

.search-container .fa-times:hover {
  cursor: pointer;
}

.result-counter {
  margin-top: 15px;
  margin-bottom: 15px;
}